{{#*inline "page"}}
{{#each posts}}
<div class="mb-4">
  <h2 class="underline"><a href="/post/{{this.slug}}">{{this.title}}</a></h2>
  <a class="text-on" href="/?tag={{this.tag}}">#{{this.tag}}</a>
</div>
{{else}}
<div class="no-posts">Nothing here yet...</div>
{{/each}}
<div class="">
  {{#if prev}}
    <span class="{{#if next}}after:content-['-']{{/if}} mr-2">
      <a class="underline text-on mr-2" href="{{prev}}">Prev</a>
    </span>
  {{/if}}
{{#if next}}<a class="underline text-on" href="{{next}}">Next</a>{{/if}}
</div>
{{/inline}}
{{> base }}
